[submodule "EasySecurity/boost/circular_buffer"]
	path = EasySecurity/3rdparty/boost/circular_buffer
	url = https://github.com/boostorg/circular_buffer
[submodule "EasySecurity/boost/type_traits"]
	path = EasySecurity/3rdparty/boost/type_traits
	url = https://github.com/boostorg/type_traits
[submodule "EasySecurity/boost/throw_exception"]
	path = EasySecurity/3rdparty/boost/throw_exception
	url = https://github.com/boostorg/throw_exception
[submodule "EasySecurity/boost/static_assert"]
	path = EasySecurity/3rdparty/boost/static_assert
	url = https://github.com/boostorg/static_assert
[submodule "EasySecurity/boost/move"]
	path = EasySecurity/3rdparty/boost/move
	url = https://github.com/boostorg/move
[submodule "EasySecurity/boost/core"]
	path = EasySecurity/3rdparty/boost/core
	url = https://github.com/boostorg/core
[submodule "EasySecurity/boost/config"]
	path = EasySecurity/3rdparty/boost/config
	url = https://github.com/boostorg/config
[submodule "EasySecurity/boost/concept_check"]
	path = EasySecurity/3rdparty/boost/concept_check
	url = https://github.com/boostorg/concept_check
[submodule "EasySecurity/boost/assert"]
	path = EasySecurity/3rdparty/boost/assert
	url = https://github.com/boostorg/assert
[submodule "EasySecurity/boost/preprocessor"]
	path = EasySecurity/3rdparty/boost/preprocessor
	url = https://github.com/boostorg/preprocessor
[submodule "EasySecurity/3rdparty/fmt"]
	path = EasySecurity/3rdparty/fmt
	url = https://github.com/fmtlib/fmt
